.page-avatar {
  width: 230px;
}

.page-avatar__pic {
  width: 200px;
  height: 200px;
  border-radius: 2px;
}

.page-avatar__msg {
  margin: 10px 0;
}

.page-avatar__friends {
  width: 100%;
}

.page-avatar__friends--delete {
  background: #e5ebf1 !important;
  color: #55677d !important;
}
