.page-info {
  padding: 15px 20px;
}

.page-info__main {
  border-bottom: 1px solid #e7e8ec;
  padding-bottom: 15px;
}

.page-info__profile-name {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: -1px 0 -1px -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1px;
}

.page-info__online-status {
  color: #000;
  border-bottom: none;
  font-size: 1em;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 0;
  padding: 0;
  float: right;
  font-size: 12.5px;
  margin-top: 5px;
  padding-left: 10px;
  line-height: 18px;
  color: #939393;
  text-align: center;
}

.page-info__online-status span {
  display: block;
}